.App {
  text-align: center;
  background-color: #fafafa;
}
.modal-body svg{
  width: 2em;
  height: 2em;
  fill: #0096ff;
  margin-bottom: 1rem;
  margin-top: 2rem;
}
.modal-body h5{
  color: #5a626a;
}
.modal-content{
  height: 13rem;
}